* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* estilos del main index */

.inicio {
    height: auto;
}
.inicio__carrusel {
    height: auto;
}

.carrusel__content {
    height: auto;
}

.inicio__carrusel--section img {
    overflow: hidden;
    height: 300px; /* Ajusta la altura según tu necesidad */
    object-fit: cover; /* Mantiene las proporciones y cubre toda el área */
}

.inicio__carrusel--section-text {
    border-radius: 25px;
    background-color: #844b3579;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
}

.inicio__carrusel--section-text a {
    text-decoration: none;
}

.inicio__carrusel--section-text:hover {
    background-color: #340d00bb;
}

.inicio__carrusel--section-text h3 , .inicio__carrusel--section-text h6 {
    color: #ffff;
}

.inicio__carrusel--section-text h3 {
    font-size: 1.2rem
}

.inicio__carrusel--section-text h6 {
    display: none;
    font-size: 0.8rem;
}

.inicio__carrusel--section-text p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffff;
    display: none;
    font-size: 0.8rem;
}

/* estilo de section */

.section{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section__wsp {
    position: fixed;
    bottom: 50px;
    right: 15px;
}

.section__wsp--img:hover {
    height: 60px;
    width: 60px;
}

.section--font-text{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section__title {
    color: #340D00;
    font-size: 35px;
    padding-bottom: 20px;
}

.section__img-agencia {
    padding-bottom:40px;
}

.section__img-agencia--img {
    width: 80%;
    border-radius: 20px;
}

.section__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__contacto--subcontenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__contacto--text {
    color:#844B35 ;
    width: 80%;
    font-size: 20px;
}

.section__contacto--img {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.section__contacto--img-position {
    position: relative;
    top: 25px;
}

.section__collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   	grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "uno uno dos"
    "uno uno cinco"
    "tres cuatro cuatro"
    "tres cuatro cuatro";
    gap: 10px;
}

.section__collage--img {
    height: 100%;
    width: 100%;
    overflow: hidden; 
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%; 
    object-fit: cover;
}

.section__collage--img-uno {
    grid-area: uno;
}

.section__collage--img-dos {
    grid-area: dos;
}

.section__collage--img-tres {
    grid-area: tres;
}

.section__collage--img-cuatro {
    grid-area: cuatro;
}

.section__collage--img-seis {
    display: none;
}

.section__collage--img-cinco {
    grid-area: cinco;
}

.section__collage--img-seis {
    grid-area: seis;
}

.section__ubicacion {
    padding-top: 70px;
}

.section__ubicacion--text {
    padding-bottom: 1rem;
    color: #391306;
    font-size: 2rem;
}

/* estilos de footer */

.footer {
    text-align: left;
    background-color: #340D00;
    padding: 15px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.footer__container {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: aliceblue;
}

.footer__container--title {
    padding-bottom: 15px;
    font-size: 30px;
}

.footer__container--text li a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
}

.derechos{
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}


/* PAGINA CONTACTO */

/* formulario de contacto */

.contacto {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto__img {
    width: 100%;
    height: 250px;
}

.contacto__img--img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

/* furmulario contacto */



.contacto__formulario {
    border-radius: 15px;
    margin: 30px;
    padding: 20px;
    background-color: #391306;
    color: aliceblue;

}

.contacto__formulario--container {
    width:auto;
}

.contacto__formulario--position {
    position: relative;
    bottom: 100px;
}

.contacto__formulario--title {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.contacto__formulario--dato-persona {
    display: inline-block;
    padding: 0px 20px 10px 0px;
}

.contacto__formulario--mensaje textarea{
    width: 100%;
}

.contacto__formulario--dato-persona input , .contacto__formulario--mensaje textarea {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: #844b35;
}

.contacto__formulario--botton {
    padding-top: 15px;
    text-align: right;

}

.contacto__formulario--botton:active {
    background-color: #340D00;
}

.contacto__formulario--botton input {
    border-radius: 5px;
    color: aliceblue;
    background-color: #844b35;
    padding: 5px;
}

.contacto__formulario--botton input:active {
    background-color: hsl(15, 77%, 17%);
}


.section__title {
    padding-bottom: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* PAGINA SERVICIOS */

/* tarjetas de los servicios */

.servicios{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.servicios__title {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #601C00;
}

.servicios__subtitle {
    padding: 15px 0px;
    font-family:  "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #844B35;
}

.servicios__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.servicios__cards--card {
    margin-bottom: 15px ;
    border: rgba(0, 0, 0, 0.252) 1px solid;
    border-radius: 10px ;
    width: 250px;
}

.servicios__cards--img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.servicios__cards--text{
    font-family:  "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #844B35;
    padding: 10px;
}

.servicios__cards--text h4{
    font-size: 30px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #601C00;
}


/* PAGINA PREGUNTA FRECUENTE */

.preguntas-f {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preguntas-f__img {
    width: 100%;
    height: 300px;
}

.preguntas-f__img--img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.preguntas-f__title {
    padding-top: 30px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.preguntas-f__preguntas {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.preguntas-f__preguntas--pregunta {
    font-family: "Lilita One", sans-serif;
    color: #391306;
}

.preguntas-f__preguntas--text {
    color: hsl(17, 39%, 26%)
}


/* estilos de tablet */

@media screen and (min-width: 600px) {
    .section__logo {
        height: 131px;
        width: 553px;
    }

    .section__img-agencia--img {
        height: 378px;
        width: 553px;
    }

    .section__collage {
        height: auto;
        width: 553px;
    }

    .ser
    .contacto__formulario {
        width: 540px;
    }

    .preguntas-f__preguntas {
        width: 600px;
    }

    .servicios__title {
        font-size: 50px;
    }

    .servicios__subtitle {
        font-size: 40px;
    }

}

/*  estilo desktop */

@media screen and (min-width:1024px){
    .inicio__carrusel--section-text p ,.inicio__carrusel--section-text h6 {
        display: block;
    }
    .section__title {
        font-size: 45px;
    }
    .section__contacto--subcontenedor {
        flex-direction: row;
        justify-content: center;
    }

    .section__collage {
        width: 977px;
        height: 750px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 170px);
        grid-template-areas:         
        "uno dos tres"
        "cuatro dos tres"
        "cuatro cinco tres"
        "seis seis seis";
    }

    .section__contacto--text {
        font-size: 30px;
    }

    .section__collage--img {
        height: 100%;
        width: 100%;
    }

    .section__collage--img-seis {
        display: block;
    }
}